

body {
    display: flex;
    margin: 0;

}




.hero-image {
 background-image: url("./images/photo-1585202900225-6d3ac20a6962.jpg");
 background-position: center;
 background-repeat:no-repeat;
 background-size: cover;
 width: 40vw;
 height: 100%;
 position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.logo-section {
   /* position: relative; */
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}


.odin-text {
    font-size: 75px;
    color: white;
    font-family: "Skranji";
    text-transform: uppercase;
    text-align: center;
}

.odin-logo {
    width: auto;
    height: 150px;
}

.hero-footer {
    font-size: 20px;
    color: white;
    text-align: center;

}

.hero-footer  a {
    color: white;
}

.sign-up-section{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(230, 230, 230);
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    
}

.form-tagline {
    font-size: 22px;
}



label{
    text-transform: uppercase;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    
}

.form-section{
    background-color: rgb(255, 255, 255);
    box-shadow:  0 4px 5px 0 rgb(150, 150, 150);
    padding: 25px 0 25px 75px;
}


.text {
    font-weight: bold;
    font-size: 30px;
    padding: 0 75px;
    width: 75%;
    
}



.form-inputs {
    display: flex;
    flex-wrap: wrap;
    width: 100%

}

.field {
    display: flex;
    flex-direction: column;
    min-width: 35%;
    padding-right: 50px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.field input {
    line-height: 30px;
    padding: 0 8px;
    font-size: 22px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    
}

.field input:focus{
    outline: none;
    border: 1px solid rgb(45, 63, 224);
    box-shadow: 3px 3px 3px rgba(100, 100, 100, 0.4);
}

/*
.field input:invalid {
    content: "This is not valid";
    border: 1px solid red;
}
*/

.field input:valid {
    content: "This is not valid";
    border: 1px solid green;
}

input + span::after {
    content: "Required *";
    color: rgba(255, 0, 0, 0);
    
    margin-top: 2px;
    transition: color 1s;
    transition-timing-function: ease-in;
}

input:placeholder-shown:focus + span::after{

    color: rgba(255, 0, 0, 1);
    transform: color 0.5s;
    transition-timing-function: ease-in-out;
}

.sign-up-btn {
    padding: 12px 36px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    background: rgb(40, 120, 30);
    border: none;
    border-radius: 5px;
    margin-top: 25px;
}

.login{
    color: rgb(40, 120, 30);
    font-weight: bold;
}

.account-text, .sign-up-btn {
    margin-left: 75px ;
}

.account-text {
    margin-top: 25px;
}

.error-section {
    width: 100%;
}

#error-out.error::after {
    visibility: visible;
    color: rgba(255, 0, 0, 1);
    content: "Passwords do not match *";
}
